ACTION=="change", SUBSYSTEM=="net", KERNEL=="IFWAN", \
  ATTR{carrier}=="1", ATTR{operstate}=="up", \
  TAG+="systemd", ENV{SYSTEMD_WANTS}="netqos.service"
